<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>注册</title>
<link href="/dist_test/static/css/common_css.7749aab6.css" rel="stylesheet"></head>

<body> 注册注册注册注册注册
<script type="text/javascript" src="/dist_test/static/js/vendor.c1309888.js"></script><script type="text/javascript" src="/dist_test/static/js/common.b3938f43.js"></script><script type="text/javascript" src="/dist_test/static/js/common_css.f9a0538a.js"></script><script type="text/javascript" src="/dist_test/static/js/auto_extract.ff0cf839.js"></script><script type="text/javascript" src="/dist_test/static/js/views/user/register/index.098fd8c3.js"></script></body>

</html>